
footer{
  
    background: #111;
    height: auto;
    width: 100%;
    
    color: #fff;
  
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 15px;
    line-height: 3rem;
}
.footer-content p{
  
    margin: 10px auto;
    font-size: 14px;
    color: #cacdd2;
}
span{
    margin-top: 25px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 48px 0;
}

.socials li{
    margin: 0 15px;
    margin-top: 20px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    margin-top: 15px;
  
}

.socials a {
    font-size: 20px;
    font-weight: bold;
  }

  @media (max-width: 768px) {
  
    }
